# exclude everything
RHYME/*
DevLearn/*
DONE/*
DevLearn*
devlearn*
./*2018

export/*
import/*
fix/*
raw_files/*

*.csv
*.json
*.ods

importdata_*
# exception to the rule
!import/.gitkeep
!export/.gitkeep
!fix/.gitkeep

